# build output
/build/
**/build32/
.vs/
*.obj
*.ilk
*.exp
*.lib
*.pdb

# server runtime data/logs (generated next to mqelserver.exe)
**/Plugins/
*.log

# Local/personal MQEL save data
**/Heroes.json
**/Inventory.json
**/Wallets.json
**/Quests.BB
Plugins/MQELOffline.Localnet
Plugins/MQELOffline.Localnet.*
SaveBackup/
Plugins/Logs/
